.sliderClass {
    width: 20%;
}


.gameInputClass {
    margin-left: 10px;
}

.gameClass {
    background-color: grey;
    float: left;
    padding: 20px;
    margin: 10px;
}

img {
    height: 120px;
    width: 100px;
}

h1 {
    text-align: center;
    background-image: url("https://c1.staticflickr.com/9/8372/8553676198_4d1f4ef2a3_b_d.jpg");
    width: 100%;
    height: 60px;
}