<section>
    <h3>Add Game</h3>
    <!-- GAME INPUTS GO HERE -->
    <form ng-submit="vm.addGame(vm.gameToAdd)">
            <md-input-container>
                <label >Name</label>
                <input ng-model="vm.gameToAdd.name">
            </md-input-container>
            <md-input-container>
                <label>Release Year</label>
                <input ng-model="vm.gameToAdd.release">
            </md-input-container>
            <md-input-container>
                <label>Game Type</label>
                <md-select ng-model="vm.gameToAdd.gametype_id">
                    <!-- not selected / blank option -->
                    <md-option value="">Please select Type</md-option>
                    <!-- repeat over ships -->
                    <md-option ng-repeat="type in vm.typeArray.list" value="{{type.id}}">{{type.type_name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Rating</label>
                <md-Select ng-model="vm.gameToAdd.rating">
                <!-- not selected / blank option -->
                    <md-option value="">Please select Rating</option>
                <!-- NUMBER VALUES -->
                    <md-option value="0">0</md-option>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                    <md-option value="7">7</md-option>
                    <md-option value="8">8</md-option>
                    <md-option value="9">9</md-option>
                    <md-option value="10">10</md-option>
                </md-Select>
            </md-input-container>
        <input type="submit">
    </form>
    <hr>
    <h3>Games</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th> <th>Release Year</th> <th>Game Type</th> <th>Rating</th> <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in vm.gameLib.list">
                <td>{{game.name}}</td>
                <td>{{game.release}}</td>
                <td>{{game.type_name}}</td>
                <td>{{game.rating}}</td>
                <td><button ng-click="vm.changeGameScore(game, 1)" ng-disabled="game.rating == 10">Up Vote</button>
                    <button ng-click="vm.changeGameScore(game, -1)">Down Vote</button>
                    <button ng-click="vm.removeGame(game)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>