<section>
    <h3>Manage Games</h3>
    <!-- INPUT FIELD TO ADD TYPE -->
    <form ng-submit="vm.addType(vm.newGameType)">
        <md-input-container>
            <label>New Game Type</label>
            <input ng-model="vm.newGameType.type_name">
        </md-input-container> 
        <input type="submit">
    </form>
    <hr>
    <h3>Game Types</h3>
    <table>
        <thead>
            <tr>
                <td>Type</td> <td>Number of Games</td> <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="gt in vm.typeArray.list">
                <td>{{gt.type_name}} games</td>
                <td>{{gt.count}}</td>
                <td><button ng-click="vm.removeGameType(gt)">DELETE</button></td>
            </tr>
        </tbody>
    </table>
</section>